<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" requirePermission="false"/>
  </configSections>
</configuration>
