<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Database.Server" value="localhost"/>
    <add key="Database.Database" value="MonkeyDuck"/>
    <add key="Database.User" value="Monkey"/>
    <add key="Database.Password" value="Duck"/>
    <add key="Moo.DoTheStuff" value="false"/>
    <add key="Moo.EatTheThings" value="12"/>
  </appSettings>
</configuration>
